@charset "utf-8";
.carousel-item active {
    position: relative;
  }
  .carousel-item{
    position: relative;
  }
  .absolute {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  body{
    background-image: url(../html/img/基本背景.png);
  }
